{% extends 'index.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="username_container">
    <div class="username">
      <p>{{ user.get_full_name }}</p>
      <br />
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <p>{{ user.get_type }}</p>
  </div>
  <div class="homepage">
    <h3 class="homepage-title">HOMEPAGE</h3>
    <p class="homepage-desc">
      Chào mừng bạn đến với chương trình quản lý nhân sự phòng ban.
    </p>
    <p class="homepage-text">
      <i class="fa-solid fa-chalkboard-user"></i><strong> GVHD: </strong> Nguyễn
      Thị Lệ Quyên
    </p>
    <p class="homepage-text member">
      <i class="fa-solid fa-users"></i><strong> Member: </strong>
    </p>
    <div class="homepage-members">
      <div class="homepage-card">
        <p class="card-name"><strong>Tên: </strong> Phan Khánh Ngân</p>
        <p class="card-name"><strong>Lớp: </strong> 20T2</p>
        <p class="card-name"><strong>MSSV: </strong> 102200383</p>
      </div>
      <div class="homepage-card">
        <p class="card-name"><strong>Tên: </strong> Lê Văn Thịnh</p>
        <p class="card-name"><strong>Lớp: </strong> 20T2</p>
        <p class="card-name"><strong>MSSV: </strong> 102200391</p>
      </div>
      <div class="homepage-card">
        <p class="card-name"><strong>Tên: </strong> Nguyễn Văn Vương</p>
        <p class="card-name"><strong>Lớp: </strong> 20T2</p>
        <p class="card-name"><strong>MSSV: </strong> 102200397</p>
      </div>
      <div class="homepage-card">
        <p class="card-name"><strong>Tên: </strong> Nguyễn Phan Nhật Hoàng</p>
        <p class="card-name"><strong>Lớp: </strong> 20T1</p>
        <p class="card-name"><strong>MSSV: </strong> 102200018</p>
      </div>
    </div>
    <p class="homepage-text feature">
      <i class="fa-solid fa-users-gear"></i><strong> Feature: </strong>
    </p>
    <div class="homepage-feature">
      <div>
        <p>1. Login/ Logout</p>
        <p>2. View all employes/employee details</p>
        <p>3. Add/Update/Delete employee</p>
        <p>4. Search employee by fields</p>
        <p>5. View all departments</p>
        <p>6. Add/Update/Delete departments</p>
        <p>7. Search departments by fields</p>
      </div>
      <div>
        <p>8. View all slaries</p>
        <p>9. Add/Update/Delete slaries</p>
        <p>10. Search slaries by fields</p>
        <p>11. View all admin account</p>
        <p>12. Add/Update/Delete admin account</p>
        <p>13. Search admin account by fields</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
