{% extends 'index.html' %} {% load static %}  {% block content %}
<div class="table-responsive">
<div class="table-wrapper">
    <div class="tabel-title">
      <p>{{title}}</p>
      <i class="fa-solid fa-circle"></i>
      <p class="text">Employee</p>
    </div>
        <form name="employee_form" class="form"
              method="post" action="/employees/save/"
              style="max-width: 700px; margin: 0 auto"
              enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="hidden" name ="id" value="{{id}}">
            <label for="firstname" class="label-input">
                <span class="input-span">Firstname</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="text"
                            name="firstname"
                            id="firstname"
                            class="input"
                            placeholder="Enter your firstname"
                            value="{{employee.firstName}}"
                            autofocus
                            required

                    />
                </div>
            </label>
            <label for="lastname" class="label-input">
                <span class="input-span">Lastname</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="text"
                            name="lastname"
                            id="lastname"
                            class="input"
                            placeholder="Enter your lastname"
                            value="{{employee.lastName}}"
                            autofocus
                            required
                    />
                </div>
            </label>
            <label for="email" class="label-input">
                <span class="input-span">Email</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="email"
                            name="email"
                            id="email"
                            class="input"
                            placeholder="Enter your email"
                            value="{{employee.email}}"
                            autofocus
                            required
                    />
                </div>
            </label>
            <label for="birthday" class="label-input">
                <span class="input-span">Birthday</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="date"
                            name="birthday"
                            id="birthday"
                            class="input"
                            value="{{employee.birthday|date:'Y-m-d' }}"
                            placeholder="Enter your birthday"
                            autofocus
                            required
                    />
                </div>
            </label>
            <label for="address" class="label-input">
                <span class="input-span">Address</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="text"
                            name="address"
                            id="address"
                            class="input"
                            placeholder="Enter your address"
                            value="{{employee.address}}"
                            autofocus
                            required
                    />
                </div>
            </label>
            <label class="label-input">
                <span class="input-span">Gender</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <span class="input-span">Male</span>
                    <input type="radio" class="radio-input" name="gender" id="male" value="1" {% if employee.gender %}checked{% endif %}>
                    <span class="input-span">Female</span>
                    <input type="radio" class="radio-input" name="gender" id="female" value="0" {% if not employee.gender%}checked{% endif %}>
                </div>
            </label>
            <label for="phone" class="label-input">
                <span class="input-span">Phone Number</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="text"
                            name="phone"
                            id="phone"
                            class="input"
                            placeholder="Enter your phone"
                            value="{{employee.phone}}"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            autofocus
                            required
                    />
                </div>
            </label>
            <input type="hidden" name="image_name" value="{{employee.image}}">
            <label for="image" class="label-input">
                <span class="input-span">Image</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <input
                            type="file"
                            name="image"
                            id="image"
                            class="input"
                            placeholder="Enter your image"
                            onchange="previewFile(this);"
                            autofocus
                    />
                    <div class="avatar-form-container text-center">
                        <img
                                src="{% static 'image/avatar/' %}{{ employee.image }}"
                                class="avatar-form"
                                alt="Avatar"
                        {% if not employee.image%}hidden{% endif %}
                        />
                    </div>
                </div>
            </label>
            <label for="department" class="label-input">
                <span class="input-span">Department</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <select name="id_department" id="department" class="input">
                        {% for department in  departments %}
                        <option value="{{department.id}}" {% if employee.department.id == department.id%}selected{% endif %}>{{department.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>
            <label for="salary" class="label-input">
                <span class="input-span">Basic Salary</span>
                <div class="input-container">
                    <i class="ph-envelope"></i>
                    <select name="id_salary" id="salary" class="input">
                        {% for salary in  salaries %}
                        <option value="{{salary.id}}" {% if employee.salary.id == salary.id%}selected{% endif %}>{{salary.basicSalary}}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>

            <button type="submit" class="btn-submit" style="margin-bottom:16px; margin-top: 0!important; ">Submit</button>
        </form>
    </div>
</div>
</div>
<script>
    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];
        if(file) {
            var reader = new FileReader();
            reader.onload = function() {
                $(".avatar-form").attr("src", reader.result);
                $(".avatar-form").attr("hidden", false);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock content %}