{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="error">
        <div class="error-info">
            <span>500 error </span>
            <h2>Something went wrong.</h2>
            <p>Please try again, or contact support.</p>
            <a class="error-btn-homepage" href="{% url 'home:home' %}">Home page</a>
        </div>
        <div class="error-img">
            {% comment %} <img src="{% static 'image/error/500error.svg' %}" /> {% endcomment %}
        </div>
    </div>
</div>
{% endblock content %}