{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="side">
        <div class="title">
          <img src="{% static 'image/logo/office.png' %}" alt="" />
          <a href="{% url 'home:home' %}"><p>Management</p></a>
        </div>
        <ul class="nav">
          <li class="nav-list">
            <i class="nav-icon fa-solid fa-users"></i>
            <p class="nav-text">
              <a href="{% url 'employees:list' %}">Employee</a>
            </p>
          </li>
          <li class="nav-list">
            <i class="nav-icon fa-solid fa-building-user"></i>
            <p class="nav-text">
              <a href="{% url 'departments:list' %}">Department</a>
            </p>
          </li>
          <li class="nav-list">
            <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
            <p class="nav-text">Salary Level</p>
          </li>
          <li class="nav-list">
            <i class="nav-icon fa-solid fa-user"></i>
            <p class="nav-text"><a href="{% url 'admins:list' %}">Admin</a></p>
          </li>
        </ul>
        <div class="logout">
          <div class="btn-logout">
            <a href="#">
              Log out
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </div>
        </div>
      </div>
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
