{% extends 'index.html' %} {% load static %}  {% block content %}
<div class="table-responsive">
    <div class="table-wrapper">
        <div class="tabel-title">
        <p>{{title}}</p>
        <i class="fa-solid fa-circle"></i>
        <p class="text">Department</p>
        </div>
            <form name="department_form" class="form"
                method="post" action="/departments/save/"
                style="max-width: 700px; margin: 0 auto"
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <input type="hidden" name ="id" value="{{id}}">
                <label for="name" class="label-input">
                    <span class="input-span">Name</span>
                    <div class="input-container">
                        <i class="ph-envelope"></i>
                        <input
                                type="text"
                                name="name"
                                id="name"
                                class="input"
                                placeholder="Enter department name"
                                value="{{department.name}}"
                                autofocus
                                required
                        />
                    </div>
                </label>
                <label for="address" class="label-input">
                    <span class="input-span">Address</span>
                    <div class="input-container">
                        <i class="ph-envelope"></i>
                        <input
                                type="text"
                                name="address"
                                id="address"
                                class="input"
                                placeholder="Enter department address"
                                value="{{department.address}}"
                                autofocus
                                required
                        />
                    </div>
                </label>
                <label for="phoneNumber" class="label-input">
                    <span class="input-span">Phone Number</span>
                    <div class="input-container">
                        <i class="ph-envelope"></i>
                        <input
                                type="phoneNumber"
                                name="phoneNumber"
                                id="phoneNumber"
                                class="input"
                                placeholder="Enter department phone number"
                                value="{{department.phoneNumber}}"
                                autofocus
                                required
                        />
                    </div>
                </label>
                <label for="description" class="label-input">
                    <span class="input-span">Description</span>
                    <div class="input-container">
                        <i class="ph-envelope"></i>
                        <input
                                type="description"
                                name="description"
                                id="description"
                                class="input"
                                placeholder="Enter department description"
                                value="{{department.description}}"
                                autofocus
                                required
                        />
                    </div>
                </label>
                <button type="submit" class="btn-submit" style="margin-bottom:16px; margin-top: 0!important; ">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

